<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OTP Verification</title>
        <link rel="stylesheet" href="/styles/main.css" />
    </head>
    <body class="activation-body">
        <script>
            const fontValue = localStorage.getItem("fontFamily");
            if (fontValue) {
                document.body.style.fontFamily = fontValue;
            }
        </script>
        <div class="otp-container">
            <div class="otp-box">
                <h2>Enter Verification Code</h2>
                <p>We’ve sent a 6-digit code to your email</p>
                <div class="otp-inputs">
                    <input class="opt-input" type="text" autocomplete="new-password" maxlength="1" />
                    <input class="opt-input" type="text" autocomplete="new-password" maxlength="1" />
                    <input class="opt-input" type="text" autocomplete="new-password" maxlength="1" />
                    <input class="opt-input" type="text" autocomplete="new-password" maxlength="1" />
                    <input class="opt-input" type="text" autocomplete="new-password" maxlength="1" />
                    <input class="opt-input" type="text" autocomplete="new-password" maxlength="1" />
                </div>
                <button class="verify-btn">Verify</button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/activation.js"></script>
    </body>
</html>
